asgiref==3.8.1
Django==4.2.3
django-ckeditor==6.7.3
django-js-asset==3.1.2
dotenv==0.9.9
gunicorn==23.0.0
packaging==25.0
pillow==11.2.1
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg-pool==3.2.6
psycopg2-binary==2.9.10
python-dotenv==1.1.0
sqlparse==0.5.3
typing_extensions==4.14.0
whitenoise==6.9.0
